<% if upcoming_meetings.any? %>
  <div class="section row collapse upcoming_meetings">
    <h3 class="section-heading">
      <%= translated_attribute(model.name) %> - <%= t("decidim.participatory_spaces.highlighted_meetings.upcoming_meetings") %>
    </h3>
    <div class="card-grid meetings-content mb-baseh">
      <% upcoming_meetings.includes(:component).each do |meeting| %>
        <%= card_for meeting%>
      <% end %>
    </div>
    <%= link_to(
      t("decidim.participatory_spaces.highlighted_meetings.see_all", count: upcoming_meetings_count),
      main_component_path(model),
      class: "button button--sc hollow button--right"
    ) %>
  </div>
<% elsif past_meetings.any? %>
  <div class="section row collapse past_meetings">
    <h3 class="section-heading">
      <%= translated_attribute(model.name) %> - <%= t("decidim.participatory_spaces.highlighted_meetings.past_meetings") %> 
    </h3>
    <div class="card-grid meetings-content mb-baseh">
      <% past_meetings.each do |meeting| %>
        <%= card_for meeting%>
      <% end %>
    </div>
    <%= link_to(
      t("decidim.participatory_spaces.highlighted_meetings.see_all", count: past_meetings_count),
      main_component_path(model),
      class: "button button--sc hollow button--right"
    ) %>
  </div>
<% end %>
