<% add_decidim_page_title(translated_attribute(current_component.name)) if try(:current_component) %>
<% add_decidim_page_title(translated_attribute(current_participatory_space.title)) %>
<% add_decidim_meta_tags(
  image_url: current_participatory_space.attached_uploader(:banner_image).path,
  description: translated_attribute(current_participatory_space.short_description),
) %>

<%= render "layouts/decidim/application" do %>
  <%= render partial: "layouts/decidim/process_header" %>
  <%= cell "decidim/translation_bar", current_organization %>
  <div class="wrapper">
    <%= yield %>
  </div>
  <% if content_for? :expanded %>
    <div class="br-container-lg row">
      <%= yield :expanded %>
    </div>
  <% end %>
<% end %>

<% provide :meta_image_url, current_participatory_space.attached_uploader(:banner_image).path %>
