<div class="br-container-lg">
<% add_decidim_meta_tags({
                           image_url: current_participatory_space.attached_uploader(:hero_image).path,
                           description: translated_attribute(current_participatory_space.short_description),
                           url: participatory_process_url(current_participatory_space),
                           twitter_handler: current_organization.twitter_handler
                         }) %>

<%
  edit_link(
    resource_locator(current_participatory_space).edit,
    :update,
    :process,
    process: current_participatory_space
  )
%>

<%= participatory_space_floating_help %>

<% if current_participatory_space.private_space? %>
  <%= render partial: "decidim/shared/private_participatory_space",
             locals: { text: t("private_space", scope: "decidim.participatory_processes.show") } %>
<% end %>

<%= cell("decidim/announcement", current_participatory_space.announcement) %>

<div>
  <h1 class="page-title"><%= translated_attribute(current_participatory_space&.title) %></h1>
  <%= render partial: 'metadata', locals: { current_participatory_space: current_participatory_space } %>

  <div>
    <div class="section">
      <h2 class="show-for-sr"><%= t(".title") %></h2>
      <div class="lead">
        <%= decidim_sanitize_editor_admin translated_attribute(current_participatory_space.short_description) %>
      </div>
      <%= decidim_sanitize_editor_admin translated_attribute(current_participatory_space.description) %>
    </div>
    <%= attachments_for current_participatory_space %>
    <%# render_hook(:participatory_space_highlighted_elements) %> 
    </div>
  </div>

  <% if current_participatory_space.show_statistics? %>
     <%= cell "decidim/statistics", stats.collection %>
  <% end %>

  <% if current_participatory_space.show_metrics? %>
    <%= render partial: "metrics" %>
  <% end %>
</div>
</div>
