<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t(".title") %></h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>
    <!--
      This element is hidden because it is not intended to be used!
      Refer to issue 138
    -->
    <div class="row column" style="display: none;">
      <%= form.translated :text_field, :subtitle %>
    </div>
    <% if @form.participatory_process_types_for_select.present? %>
      <div class="row column">
        <%= form.select(
              :participatory_process_type_id,
              @form.participatory_process_types_for_select,
              include_blank: t(".select_participatory_process_type"),
              required: true
            ) %>
      </div>
    <% end %>
    <div class="row">
      <div class="columns xlarge-6 slug">
        <%= form.text_field :slug %>
        <p class="help-text">
          <%== t(".slug_help", url: decidim_form_slug_url(:processes, form.object.slug)) %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns xlarge-6">
        <%= form.number_field :group_chat_id , :label => "Identificador do grupo no Telegram para Moderação" %>
        <div>
        </div>
        <!--
          This element is hidden because it is not intended to be used!
          Refer to issue 138
        -->
        <div class="row column" style="display: none;">
          <%= form.translated :text_field, :short_description %>
        </div>
        <div class="row column">
          <%= form.translated :editor, :description %>
        </div>
        <!--
          This element is hidden because it is not intended to be used!
          Refer to issue 138
        -->
        <div class="row column" style="display: none;">
          <%= form.translated :editor, :announcement %>
          <p class="help-text"><%== t(".announcement_help") %></p>
        </div>
      </div>
      <div class="card-divider">
        <h2 class="card-title"><%= t(".duration") %></h2>
      </div>
      <div class="card-section">
        <div class="row">
          <div class="columns xlarge-6">
            <%= form.date_field :start_date , required: true %>
          </div>
          <div class="columns xlarge-6">
            <%= form.date_field :end_date , required: true %>
          </div>
        </div>
      </div>
      <div class="card-divider">
        <h2 class="card-title"><%= t(".images") %></h2>
      </div>
      <div class="card-section">
        <div class="row">
          <div class="columns xlarge-6">
            <%= form.upload :hero_image %>
          </div>
          <div class="columns xlarge-6">
            <%= form.upload :banner_image %>
          </div>
        </div>
      </div>
      <div class="card-divider">
        <h2 class="card-title"><%= t(".metadata") %></h2>
      </div>
      <div class="card-section">
        <div class="row">
          <div class="columns xlarge-6">
            <%= form.areas_select :area_id,
                              areas_for_select(current_organization),
                              selected: current_participatory_process.try(:decidim_area_id),
                              include_blank: t(".select_an_area") %>
          </div>
          <div class="columns xlarge-6">
            <%= form.translated :text_field, :developer_group %>
          </div>
          <div class="columns xlarge-6">
            <%= form.translated :text_field, :participatory_structure %>
          </div>
        </div>
        <div class="row column" style="display: none;">
          <%= form.translated :text_field, :meta_scope %>
        </div>
        <div class="row column">
          <%= form.translated :text_field, :target %>
        </div>
        <div class="row column">
          <%= form.date_field :publish_date %>
        </div>
        <div class="row column">
          <%= form.translated :text_field, :participatory_scope %>
        </div>
      </div>
      <div class="card-divider">
        <h2 class="card-title"><%= t(".filters") %></h2>
      </div>
      <div class="card-section">
        <!--
          This element is hidden because it is not intended to be used!
          Refer to issue 138
        -->
        <div class="row column">
          <%= form.check_box :scopes_enabled, label: false, checked: true, style: "display: none;" %>
        </div>
        <div class="row column">
          <%= scopes_picker_field form, :scope_id, root: nil %>
           <% if process_groups_for_select %>
            <%= form.select :participatory_process_group_id,
                        process_groups_for_select,
                        include_blank: t(".select_process_group") %>
          <% end %>
          <!--
            This element is hidden because it is not intended to be used!
            Refer to issue 138
          -->
          <div class="row" id="scope-depth " style="display: none;">
            <%= form.collection_select :scope_type_max_depth_id,
                                    organization_scope_depths,
                                    :id,
                                    :name,
                                    scope_type_depth_select_options,
                                    scope_type_depth_select_html_options %>
            <p class="help-text">
              <%== t(".scope_type_max_depth_help") %>
            </p>
          </div>
        </div>
      </div>
      <div class="card-section">
        <!--
          This element is hidden because it is not intended to be used!
          Refer to issue 138
        -->
        <div class="row column" style="display: none;">
          <%= form.check_box :private_space %>
        </div>
        <div class="row column" style="display: none;">
          <%= form.check_box :promoted %>
        </div>
      </div>
      <!--
        This element is hidden because it is not intended to be used!
        Refer to issue 138
      -->
      <div class="card-divider" style="display: none;">
        <h2 class="card-title"><%= t(".related_processes") %></h2>
      </div>
      <!--
        This element is hidden because it is not intended to be used!
        Refer to issue 138
      -->
      <div class="card-section" style="display: none;">
        <div class="row column">
          <%= form.select(
        :related_process_ids,
        @form.processes.order(title: :asc).map{|process| [translated_attribute(process.title), process.id]},
        { include_blank: true },
        { multiple: true, class: "chosen-select" }
      ) %>
        </div>
      </div>
      <div class="card-divider toggle-settings">
        <h2 class="card-title">Configurações avançadas</h2>
      </div>
      <div class="card-section settings-section">
        <div class="row column">
          <%= form.select :initial_page_component_id,
                      options_for_select(
                        @form.initial_page_components_for_select,
                        selected: current_participatory_process.try(:initial_page_component_id)
                      ) %>
          <p class="help-text"><%= t(".initial_page_component_id_help") %></p>
        </div>
        <div class="row column">
          <%= form.check_box :show_statistics, checked: true %>
        </div>
        <div class="row column">
          <%= form.check_box :show_metrics %>
        </div>
        <div class="row column">
          <%= form.check_box :should_have_user_full_profile %>
        </div>
        <div class="row column">
          <%= form.check_box :show_mobilization %>
        </div>
        <div class="row column">
          <%= form.number_field :weight %>
        </div>
        <div class="columns xlarge-6">
          <%= form.text_field :hashtag %>
          <p class="help-text">
            <%== t(".hash_tag_help", url: decidim_form_slug_url(:processes, form.object.slug)) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "decidim_participatory_processes_admin" %>
<script>
  $(document).ready(function() {
    $(".settings-section").hide();
    $(".toggle-settings").on("click", function() {
      $(".settings-section").slideToggle();
    });
  });
</script>
