<div class="add-comment">

      <h5 class="section-heading add-comment-title"><%= t("decidim.components.add_comment_form.title") %></h5>

<div class="add-comment-bg">
  <% if user_signed_in? %>
    <%== cell("decidim/comments/comment_form", model, root_depth: root_depth) %>
    </div>
  <% else %>
    <p>
      <span>
        <%== t(
          "decidim.components.add_comment_form.account_message",
          sign_in_url: decidim.new_user_session_path,
          sign_up_url: decidim.new_user_registration_path
        ) %>
      </span>
    </p>
  <% end %>
</div>
